/* Desktop */
#mobile-item-list { display:none; }

/* Mobile */
@media(max-width: 768px) {
    #datatable_wrapper, #datatable {
        display:none !important;
    }
    #mobile-item-list {
        display:block !important;
    }

    .item-tile {
        background: #f8f8f8;
        padding: 12px;
        margin-bottom: 10px;
        border-radius: 10px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    }

    .item-tile:nth-child(even) {
        background: #efefef;
    }

    .tile-label {
        font-size: 12px;
        color: #888;
        margin-bottom: 3px;
    }

    .tile-input {
        margin-bottom: 10px;
    }
}
